.title {
  text-align: center;
  margin-bottom: 20px;
}


.gallery{
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 35px;
  flex-wrap: wrap;

}
.thumbnail{
  width: 300px;
}
.thumbnail img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail img:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.lightbox-content {
  position: relative;
  z-index: 10;
}

.lightbox-content img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 8px;
}
